[Unit]
Description=Starter for home data system
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/srv/local/David/src/Docker/home-data-system
Type=oneshot
RemainAfterExit=yes

# ExecStartPre=-/usr/bin/docker-compose pull --quiet
ExecStart=/usr/bin/docker-compose up -d

ExecStop=/usr/local/bin/docker-compose down

# ExecReload=/usr/local/bin/docker-compose pull --quiet
ExecReload=/usr/local/bin/docker-compose restart

[Install]
WantedBy=multi-user.target